.add-items-main-div {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 35px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.left-and-right-side-div {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
}

.left-side-div,
.display-items-div {
  flex-basis: 450px;
}

.new-item-div,
.display-items-div {
  border: 1px solid rgb(0, 70, 0);
  padding: 15px 15px 20px 15px;
  background-color: white;
  box-shadow: 2px 2px 6px lightgray;
  border-radius: 8px;
}

.new-item-div {
  align-self: flex-start;
  display: grid;
  gap: 8px;
}

.new-item-input-div {
  position: relative;
  width: max-content;
}

.new-item-input-div > input {
  padding: 6px 8px;
  font-size: 1.7rem;
  width: 250px;
}

input:focus-visible {
  outline: 2px solid green;
  border-radius: 3px;
}

.new-item-input-div > span {
  position: absolute;
  color: red;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  top: -25%;
  left: 105%;
  width: 60%;
}

.add-item-btn {
  margin-top: 20px;
  justify-self: center;
  padding: 10px 25px;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #cdf8da;
  color: rgb(15, 69, 3);
  border: 2px outset rgb(157, 230, 157);
  font-weight: 500;
}

.add-item-btn:hover {
  background-color: #95eab0;
  border-color: rgb(131, 213, 131);
  cursor: pointer;
}

.add-item-btn:active {
  border-style: inset;
}

.rank-button-div {
  margin-top: 45px;
  display: grid;
  justify-items: center;
  position: relative;
}

.rank-button {
  padding: 15px 28px;
  border-radius: 25px;
  font-weight: 500;
  background-color: bisque;
  font-size: 1.9rem;
  border: 2px outset rgb(218, 189, 189);
  color: rgb(90, 31, 1);
}

.rank-button:hover {
  cursor: pointer;
  background-color: rgb(240, 198, 147);
  border-color: rgb(182, 159, 159);
}

.rank-button:active {
  border-style: inset;
}

button:focus-visible {
  border-color: transparent;
  outline: 2px solid green;
}

.not-enough-items-span {
  position: absolute;
  color: red;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  bottom: 0%;
  transform: translateY(calc(100% + 20px));
}

.display-items-div {
  min-height: 100%;
}

h3 {
  margin-bottom: 18px;
  font-size: 2rem;
  line-height: 1.5;
}

.item-btn-div {
  display: grid;
  gap: 16px;
}

.single-item-btn {
  padding: 6px 14px;
  font-size: 1.7rem;
  background-color: #f1f9f3;
  border: 3px solid rgb(152, 213, 152);
  border-radius: 8px;
  text-align: left;
  line-height: 1.5;
  will-change: transform;
  transition: transform 300ms;
  color: black;
}

.single-item-btn:hover {
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: 0 0 6px rgb(223, 223, 223);
}

#edit-item-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  overflow: visible;
  background-color: #faf6f1;
}

#edit-item-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#edit-item-dialog > p {
  padding: 8px 5px 5px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  position: relative;
}

#edit-item-dialog label {
  font-size: 1.9rem;
  line-height: 1.3;
}

#edit-item-dialog input {
  padding: 8px 5px;
  font-size: 1.7rem;
}

.invalid-input:focus-visible {
  outline: 2px solid red;
}

#edit-item-dialog > p > span {
  position: absolute;
  color: red;
  right: 0;
  bottom: 0;
  transform: translate(-15px, 100%);
  font-size: 1.5rem;
  font-weight: 500;
}

.edit-dialog-btns {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.7rem;
  margin-bottom: -5px;
}

.edit-dialog-btns > button {
  padding: 5px 25px;
  border-radius: 25px;
  font-weight: 500;
}

.edit-dialog-btns > button:first-child {
  display: grid;
  background-color: darkred;
  color: rgb(240, 240, 240);
  border: 2px outset silver;
}

.edit-dialog-btns > button:last-child {
  background-color: #cdf8da;
  color: rgb(15, 69, 3);
  border: 2px outset rgb(192, 234, 192);
}

.edit-dialog-btns > button:hover {
  cursor: pointer;
}

.edit-dialog-btns > button:first-child:hover {
  background-color: rgb(206, 0, 0);
}

.edit-dialog-btns > button:first-child:active {
  border-style: inset;
  background-color: darkred;
}

.edit-dialog-btns > button:last-child:hover {
  background-color: #95eab0;
  border-color: rgb(131, 213, 131);
}

.edit-dialog-btns > button:last-child:active {
  background-color: #cdf8da;
  border-style: inset;
}

.close-dialog-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: red;
  padding: 3px 10px 6px 10px;
  border: 3px solid darkred;
  color: darkred;
  font-weight: bold;
  transform: translate(50%, -50%);
  border-radius: 6px;
  font-size: 1.6rem;
  will-change: transform;
  transition: transform 300ms;
}

.close-dialog-btn:hover {
  cursor: pointer;
  background-color: rgb(235, 0, 0);
  transform: translate(50%, -50%) scale(1.25);
}

.close-dialog-btn:active {
  background-color: red;
}

@media (max-width: 950px) {
  .new-item-div {
    gap: 18px;
  }
  .new-item-input-div > span {
    left: 0%;
    top: 115%;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .left-and-right-side-div {
    display: grid;
    gap: 40px;
    grid-template-columns: 90%;
  }

  .left-side-div {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .new-item-div {
    align-self: auto;
    flex-basis: 450px;
  }

  .new-item-input-div > input {
    margin-right: 2px;
  }

  .rank-button-div {
    margin-top: 35px;
    flex-shrink: 0;
  }

  .rank-button {
    width: 125px;
    padding: 8px 10px;
    border-radius: 35px;
    line-height: 1.3;
  }

  .not-enough-items-span {
    bottom: auto;
    top: 0%;
    transform: translateY(calc(-100% - 10px));
    line-height: 1.3;
    font-size: 1.6rem;
  }

  .display-items-div {
    justify-self: center;
    width: 75%;
    min-height: 200px;
  }
}

@media (width < 525px) {
  .left-and-right-side-div {
    gap: 35px;
    justify-items: center;
  }

  .left-side-div,
  .display-items-div {
    width: 85%;
  }

  .left-side-div {
    display: grid;
  }

  .rank-button-div {
    margin-top: 5px;
  }

  .rank-button {
    font-size: 2rem;
    padding: 10px 10px;
    width: 150px;
  }

  .not-enough-items-span {
    top: auto;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
  }
}

@media (width < 410px) {
  .left-and-right-side-div {
    gap: 35px;
  }

  .new-item-div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .left-side-div,
  .display-items-div {
    width: 100%;
  }

  .new-item {
    width: 100%;
  }

  .new-item-input-div {
    position: relative;
    width: 100%;
    display: flex;
  }

  .new-item-input-div > input {
    width: 100%;
  }

  .new-item-input-div > span {
    text-align: end;
  }

  #edit-item-dialog {
    width: max(80%, 300px)
  }

  #edit-item-dialog > p {
    flex-wrap: wrap;
  }

  #edit-item-dialog label,
  #edit-item-dialog input {
    width: 100%;
  }

  .edit-dialog-btns {
    gap: 20px;
  }
}

@media (width < 410px) {
  .not-enough-items-span {
    font-size: 1.4rem;
    transform: translateY(calc(100% + 8px));
  }
}
