.add-items-main-div {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 25px;
}

h2 {
  font-size: 2rem;
}

.left-and-right-side-div {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
}

.left-side-div,
.display-items-div {
  flex-basis: 450px;
}

.new-item-div,
.display-items-div {
  border: 1px solid black;
  padding: 15px 15px 20px 15px;
}

.new-item-div {
  align-self: flex-start;
  display: grid;
  gap: 8px;
}

.display-items-div {
  min-height: 100%;
}

.new-item-input-div {
  position: relative;
  width: max-content;
}

.new-item-input-div > input {
  padding: 6px 8px;
  font-size: 1.7rem;
  width: 250px;
}

.new-item-input-div > input:focus-visible {
  border-color: transparent;
  outline: 2px solid green;
  border-radius: 3px;
}

.new-item-input-div > span {
  position: absolute;
  color: red;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  top: -25%;
  left: 105%;
  width: 60%;
}

.add-item-btn {
  margin-top: 20px;
  justify-self: center;
  padding: 10px 25px;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #cdf8da;
  color: rgb(15, 69, 3);
  border: 2px rgb(157, 230, 157) outset;
  font-weight: 500;
}

.add-item-btn:hover {
  background-color: #95eab0;
  border-color: rgb(131, 213, 131);
  cursor: pointer;
}

.add-item-btn:active {
  border-style: inset;
}

.rank-button-div {
  margin-top: 45px;
  display: grid;
  justify-items: center;
  position: relative;
}

.not-enough-items-span {
  position: absolute;
  color: red;
  font-weight: 500;
  bottom: 0%;
  transform: translateY(calc(100% + 20px));
}

h3 {
  margin-bottom: 12px;
}

@media (max-width: 950px) {
  .new-item-div {
    gap: 18px;
  }
  .new-item-input-div > span {
    left: 0%;
    top: 115%;
    width: 100%;
  }
}
