#root {
  padding: 20px;
  display: grid;
  justify-items: center;
  gap: 25px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 25px
}

h1 > img {
  height: 28px;
}

body {
  background-color: #faf6f1;
}