.ranking-main-div {
  display: grid;
  gap: 30px;
  justify-items: center;
  width: 100%;
}

.ranking-main-div > h2 {
  font-size: 2.2rem;
}

.ranking-items-div {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
}

.ranking-items-div > button {
  display: grid;
  flex-basis: 400px;
  height: 250px;
  font-size: 2.4rem;
  line-height: 1.8;
  padding: 20px;
  background-color: #e6fded;
  color: black;
  border-radius: 35px;
  border: 2px solid darkgreen;
  transition: transform 300ms;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-weight: 500;
  align-items: center;
}

.ranking-items-div > button > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.choice1-class1 {
  animation: fade-in-one 1500ms;
}

.choice1-class2 {
  animation: fade-in-two 1500ms;
}

.choice2-class1 {
  animation: fade-in-one 1500ms 150ms backwards;
}

.choice2-class2 {
  animation: fade-in-two 1500ms 150ms backwards;
}

@media (hover: hover) {
  .ranking-items-div > button:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: 0 0 8px rgb(147, 147, 147);
  }
}

.ranking-items-div > button:active {
  transform: scale(0.9);
}

@keyframes fade-in-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-two {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1036px) {
  .ranking-items-div {
    gap: 40px;
  }

  .ranking-items-div > button {
    word-spacing: 3px;
  }
}

@media (max-width: 880px) {
  .ranking-items-div {
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .ranking-items-div {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
  }

  .ranking-items-div > button {
    height: 225px;
    line-height: 1.6;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .ranking-items-div > button {
    font-size: 2.2rem;
    height: 200px;
  }
}

@media (max-width: 410px) {
  .ranking-items-div > button {
    height: 175px;
    width: 240px;
  }
}
