.ranked-main-div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.ranked-results-div {
  flex-basis: 450px;
  min-height: 500px;
  background-color: white;
  padding: 20px 20px 30px 20px;
  display: grid;
  justify-items: center;
  align-items: start;
  gap: 25px;
  grid-template-rows: repeat(2, max-content);
  border: 2px solid rgb(126, 152, 126);
  border-radius: 15px;
  box-shadow: 2px 2px 15px lightgray;
}

.ranked-results-div h2 {
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ranked-results-div h2 > img {
  width: 35px;
}

.ranked-results-div > ul {
  display: grid;
  place-items: center;
  gap: 25px;
  text-align: center;
}

.ranked-results-div > ul > li {
  width: 100%;
  min-width: 0;
  overflow-wrap: break-word;
}

.ranked-buttons-div {
  padding-top: 80px;
  display: grid;
  gap: 30px;
  height: 500px;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: max-content;
}

.ranked-buttons-div > button {
  padding: 20px 28px;
  border-radius: 25px;
  font-size: 1.8rem;
  font-weight: 500;
  border-width: 2px;
  border-style: outset;
}

.rank-new-items-btn {
  background-color: #cdf8da;
  color: rgb(15, 69, 3);
  border-color: rgb(157, 230, 157);
  animation: drop-in 800ms 1300ms backwards;
}

.rerank-btn {
  background-color: bisque;
  border-color: rgb(218, 189, 189);
  color: rgb(90, 31, 1);
  animation: drop-in 800ms 1100ms backwards;
}

.edit-list-btn {
  background-color: lightyellow;
  border-color: rgb(222, 221, 169);
  color: rgb(79, 79, 1);
  animation: drop-in 800ms 900ms backwards;
}

.ranked-buttons-div > button:active {
  border-style: inset;
}

@media (hover: hover) {
  .rank-new-items-btn:hover {
    background-color: #95eab0;
    border-color: rgb(131, 213, 131);
  }

  .rerank-btn:hover {
    background-color: rgb(240, 198, 147);
    border-color: rgb(182, 159, 159);
  }

  .edit-list-btn:hover {
    background-color: rgb(250, 250, 162);
    border-color: rgb(218, 217, 117);
  }
}

@keyframes drop-in {
  from {
    transform: translateY(-350px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 725px) {
  .ranked-main-div {
    gap: 25px;
  }

  .ranked-results-div {
    flex-basis: 400px;
    min-height: 450px;
  }

  .ranked-buttons-div {
    gap: 25px;
    height: 450px;
  }

  .ranked-buttons-div > button {
    padding: 18px 25px;
    border-radius: 20px;
  }
}

@media (max-width: 570px) {
  .ranked-main-div {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
  }

  .ranked-buttons-div {
    grid-row: 1 / 2;
    height: auto;
    padding-top: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .ranked-buttons-div > button {
    padding: 10px 15px;
  }

  .ranked-results-div {
    grid-row: 2 / 3;
    width: 80%;
    min-height: 300px;
  }

  .rank-new-items-btn {
    animation-delay: 900ms;
  }

  .rerank-btn {
    animation-delay: 1100ms;
  }

  .edit-list-btn {
    animation-delay: 1300ms;
  }
}

@media (max-width: 523px) {
  .rank-new-items-btn {
    animation-delay: 1100ms;
  }

  .rerank-btn {
    animation-delay: 1300ms;
  }

  .edit-list-btn {
    animation-delay: 900ms;
  }

  .ranked-results-div h2 > img {
    width: 30px;
  }
}

@media (max-width: 377px) {
  .rank-new-items-btn {
    animation-delay: 1300ms;
  }

  .rerank-btn {
    animation-delay: 1100ms;
  }

  .edit-list-btn {
    animation-delay: 900ms;
  }
  .ranked-results-div {
    width: 90%;
  }
}
