.ranked-main-div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.ranked-results-div {
  flex-basis: 450px;
  min-height: 500px;
  background-color: white;
  padding: 20px 20px 30px 20px;
  display: grid;
  justify-items: center;
  align-items: start;
  gap: 25px;
  grid-template-rows: repeat(2, max-content);
  border: 2px solid rgb(126, 152, 126);
  border-radius: 15px;
  box-shadow: 2px 2px 15px lightgray;
}

.ranked-results-div h2 {
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ranked-results-div h2 > img {
  width: 35px;
}

.ranked-results-div > ul {
  display: grid;
  place-items: center;
  gap: 25px;
  text-align: center;
}

.ranked-buttons-div {
  padding-top: 80px;
  display: grid;
  gap: 30px;
  height: 500px;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: max-content;
}

.ranked-buttons-div > button {
  padding: 20px 28px;
  border-radius: 25px;
  font-size: 1.8rem;
  font-weight: 500;
  border-width: 2px;
  border-style: outset;
}

.rank-new-items-btn {
  background-color: #cdf8da;
  color: rgb(15, 69, 3);
  border-color: rgb(157, 230, 157);
  animation: drop-in 800ms 1300ms backwards;
}

.rerank-btn {
  background-color: bisque;
  border-color: rgb(218, 189, 189);
  color: rgb(90, 31, 1);
  animation: drop-in 800ms 1100ms backwards;
}

.edit-list-btn {
  background-color: lightyellow;
  border-color: rgb(222, 221, 169);
  color: rgb(79, 79, 1);
  animation: drop-in 800ms 900ms backwards;
}

.ranked-buttons-div > button:hover {
  cursor: pointer;
}

.rank-new-items-btn:hover {
  background-color: #95eab0;
  border-color: rgb(131, 213, 131);
}

.rerank-btn:hover {
  background-color: rgb(240, 198, 147);
  border-color: rgb(182, 159, 159);
}

.edit-list-btn:hover {
  background-color: rgb(250, 250, 162);
  border-color: rgb(218, 217, 117);
}

.ranked-buttons-div > button:active {
  border-style: inset;
}

@keyframes drop-in {
  from {
    transform: translateY(-350px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
