.ranked-div {
  width: 500px;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  display: grid;
  justify-items: center;
  align-items: start;
  gap: 25px;
  grid-template-rows: repeat(2, max-content);
}

.ranked-div h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

.ranked-div > ul {
  display: grid;
  place-items: center;
  gap: 25px;
  text-align: center;
}

@keyframes li-pop-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
